<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>

        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>
    <body>
        <div id="root">
            <header>
                <div class="top-header">
                    <div class="logo-box">
                        <img class="logo" src="assets/dark-pet-logo.png" alt="logo pet supplies">
                    </div>

                    <div class="search-box">
                        <i class="fas fa-search"></i>
                        <input type="text" name="" value="" placeholder="Search...">
                    </div>

                    <div class="calling">
                        <strong>Questions?</strong>
                        Call us : 1.800.123.4567
                    </div>

                    <div class="icon-container">
                        <i class="fas fa-shopping-bag"></i>
                        <i class="far fa-user"></i>
                    </div>
                </div>

                <nav class="bottom-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <ul class="nav-voices-list">
                                    <li v-for="(voice, index) in navVoices"
                                        :class="getNavVoiceClasses(index)">
                                        <a href="voice.link">{{ voice.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            <main>
                <section id="jumbo">
                    <div class="top-bar mosaic-bg">
                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    <div class="text-box">
                                        <i class="far fa-map"></i>
                                        <p>
                                            <strong>International</strong>
                                            Shipping Services
                                        </p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="text-box">
                                        <i class="far fa-clock"></i>
                                        <p>
                                            See our
                                            <strong>store hours</strong>
                                            and services
                                        </p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="text-box">
                                        <i class="fas fa-check"></i>
                                        <p>
                                            We price match to give you the
                                            <strong>best deals</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jumbo-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <small>find the best animal supplies</small>
                                    <h4>We know animals are a part of your family, let us helptake care of them.</h4>
                                    <a href="#" class="btn btn-primary">Learn more about us</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="discount-section mosaic-bg" v-if="hasDiscount">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="content-box">
                                        <img src="assets\food-transparent-5.png" alt="cibo per cani">
                                        <p>Get $25 OFF your first purchase of our homemade pet food!</p>
                                        <a href="#">visit the shop</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="e-commerce" class="white-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-7">
                                <h2 class="text-center">Browse by category</h2>
                                <p class="text-center">Augue prus et, tinicidunt condimentum mauris. At nibh rutrum mi in. Nisi, vitae interdum eleifend dui, consequat nulla rhoncus dictum. Viverra</p>
                            </div>

                        </div>
                        <div class="list-container categories-container">
                            <div class="row">
                                <div class="col-3" v-for="category in getCategories()">
                                    <div class="product category">
                                        <img :src="'assets/' + category.image + '.jpg'" :alt="category.name">
                                        <p class="product-name">
                                            {{ category.name }}
                                            <span>({{ category.productsQuantity }})</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="card-food mosaic-bg overlay">
                                    <h3>Kibble</h3>
                                    <p>Dry dog food</p>
                                    <img src="assets/food-transparent-18.png" alt="dry animal food">
                                    <a href="#" class="btn btn-secondary" role="button">Shop dry food</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card-food mosaic-bg overlay">
                                    <h3>Moist</h3>
                                    <p>Canned dog food</p>
                                    <img src="assets/food-transparent-17.png" alt="moist animal food">
                                    <a href="#" class="btn btn-secondary" role="button">Shop moist food</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card-food mosaic-bg overlay">
                                    <h3>Frozen</h3>
                                    <p>Frozen-dried dog food</p>
                                    <img src="assets/food-transparent-16.png" alt="dry animal food">
                                    <a href="#" class="btn btn-secondary" role="button">Shop frozen food</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="jumbo-section text-center new-arrival-jumbo">
                                    <small>Find the best animal supplies</small>
                                    <h4>New arrivals weekly</h4>
                                    <a href="#" class="btn btn-primary" role="button">Learn more about us</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="best-items-intestation">
                                    <div class="text-box">
                                        <p>All time best sellers</p>
                                        <h3>Items Everyone loves</h3>
                                    </div>
                                    <a href="#" class="btn btn-secondary" role="button">View all products</a>
                                </div>
                            </div>
                        </div>
                        <div class="list-container">
                            <div class="row">
                                <div class="col-3" v-for="(product, index) in getBestProducts()"
                                    v-if="index < 4">
                                    <div class="product">
                                        <div class="image-container">
                                            <img :src="'assets/' + product.image + '.jpg'"
                                            :alt="product.name">
                                            <div class="add-to-cart">
                                                <i class="fas fa-check"></i>
                                                <p class="text-uppercase">view cart</p>
                                            </div>
                                        </div>
                                        <p class="product-name">{{ product.name }}</p>
                                        <p class="price">
                                            <span :class="product.sale ? 'old-price' : null">
                                                ${{ product.price.minPrice }}
                                                <span v-if="product.price.minPrice != product.price.maxPrice">
                                                    - ${{ product.price.maxPrice }}
                                                </span>
                                            </span>

                                            <span class="newPrice" v-if="product.sale">
                                                ${{ product.price.newPrice }}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="community" class="white-section">
                    <div class="testimonials mosaic-bg overlay">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h3>User tesimonials</h3>
                                </div>
                                <div class="col-4">
                                    <div class="testimonial-card text-center">
                                        <img src="assets/avatar-3.jpg" alt="Lisa Smith foto">
                                        <p>Auctor est habitasse amet nunc, interdum vel mattis sodales cras. Ut nulla quis nunc, tincidunt eu. Eu.</p>
                                        <p class="name">Lisa Smith, ThemeFusion</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="testimonial-card">
                                        <img src="assets/avatar-1.jpg" alt="Lisa Smith foto">
                                        <p>Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat vestibulum ac diam sit.</p>
                                        <p class="name">Melissa Green, ThemeFusion</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="testimonial-card">
                                        <img src="assets/avatar-4.jpg" alt="Lisa Smith foto">
                                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Proin eget tortor risus vestibulum ante ipsum.</p>
                                        <p class="name">Sam Lewis, ThemeFusion</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="newsletter-cta-container">
                        <div class="container">
                            <div class="newsletter-cta">
                                <div class="row">
                                    <div class="col-7">
                                        <h3>Join our newsletter</h3>
                                        <p>Volutpat vel turpis nulla lorem sed semper. Aliquam sagittis sem libero viverra vehicula nullam ut nisl.</p>
                                        <div class="input-box">
                                            <input type="email" placeholder="Insert your email...*">
                                            <a href="#" class="btn btn-secondary">Subscribe</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="section-intestation text-center">
                                        <h3>Get the best tips & tricks</h3>
                                        <p>Recent articles</p>
                                    </div>
                                </div>
                                <div class="col-3" v-for="blogPost in last4BlogPosts">
                                    <div class="blog-post-card">
                                        <div class="image-container">
                                            <img :src="'assets/' + blogPost.image + '.jpg'" alt="">
                                            <div class="title-hover">
                                                <p>{{ blogPost.head }}</p>
                                                <small>Tips & Tricks</small>
                                            </div>
                                        </div>
                                        <div class="text-box">
                                            <p class="post-title">{{ blogPost.head }}</p>
                                            <div class="date">{{ blogPost.date }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <a href="#" class="btn btn-secondary">Read all articles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id='jumbo-e-commerce'>
                    <div class="jumbos-container">
                        <div class="jumbo-section accessories">
                            <small>Find the best animal suplies</small>
                            <h4>Popular accessories</h4>
                            <a href="#" class="btn btn-primary" role="button">
                                View all toys accessories
                            </a>
                        </div>
                        <div class="jumbo-section new-food">
                            <small>Find the best food</small>
                            <h4>New food arrival</h4>
                            <a href="#" class="btn btn-primary" role="button">
                                View all food products
                            </a>
                        </div>
                    </div>
                    <div class="e-commerce-properties mosaic-bg">
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    <div class="property-card">
                                        <i class="fas fa-truck"></i>
                                        <p>Free worldwide deliveries</p>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="property-card">
                                        <i class="fas fa-map"></i>
                                        <p>Stores near to you</p>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="property-card">
                                        <i class="fas fa-dollar-sign"></i>
                                        <p>Best prices guaranteed</p>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="property-card">
                                        <i class="far fa-credit-card"></i>
                                        <p>All credit card accepted</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="new-products" class="white-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h3>New products arrival</h3>
                                <p>Latest products</p>
                            </div>
                        </div>
                        <div class="list-container">
                            <div class="row">
                                <div class="col-4" v-for="(product, index) in getNewProducts()"
                                    v-if="index < 6">
                                    <div class="product">
                                        <div class="image-container"
                                            :class="product.sale ? 'in-sale' : null">
                                            <img :src="'assets/' + product.image + '.jpg'"
                                                :alt="product.name">
                                            <div class="add-to-cart">
                                                <i class="fas fa-check"></i>
                                                <p class="text-uppercase">view cart</p>
                                            </div>
                                        </div>
                                        <p class="product-name">{{ product.name }}</p>
                                        <p class="price">
                                            <span :class="product.sale ? 'old-price' : null">
                                                ${{ product.price.minPrice }}
                                                <span v-if="product.price.minPrice != product.price.maxPrice">
                                                    - ${{ product.price.maxPrice }}
                                                </span>
                                            </span>

                                            <span class="newPrice" v-if="product.sale">
                                                ${{ product.price.newPrice }}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <footer>
                <div class="container">
                    <div class="top-footer">
                        <div class="row">
                            <div class="col-3">
                                <div class="avada-pet-supplies-info">
                                    <div class="logo-box">
                                        <img src="assets/mobile-light-pet-logo-2x.png" alt="logo avada pet supplies">
                                    </div>
                                    <p>1234 Avada Avenue Avadaville</p>
                                    <p>info@your-company.com</p>
                                    <p>call us: (1) 234 5678</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <ul class="footer-list">
                                    <li>
                                        <h4>Shop by brand</h4>
                                    </li>
                                    <li>
                                        <a href="#">Bed</a>
                                    </li>
                                    <li>
                                        <a href="#">Food</a>
                                    </li>
                                    <li>
                                        <a href="#">Toys</a>
                                    </li>
                                    <li>
                                        <a href="#">Transport</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-3">
                                <ul class="footer-list">
                                    <li>
                                        <h4>Useful links</h4>
                                    </li>
                                    <li>
                                        <a href="#">My account</a>
                                    </li>
                                    <li>
                                        <a href="#">Orders</a>
                                    </li>
                                    <li>
                                        <a href="#">Checkout</a>
                                    </li>
                                    <li>
                                        <a href="#">Cart</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-3">
                                <div class="newsletter-reminder mosaic-bg light-overlay">
                                    <p>Subscribe to our newsletter</p>
                                    <input type="email" placeholder="Insert your email...*">
                                    <a href="#" class="btn btn-secondary">Subscribe</a>
                                </div>
                            </div>
                        </div>
                    </div
                    >
                    <div class="bottom-footer">
                        <div class="row">
                            <div class="col-12">
                                <ul class="nav-voices-list">
                                    <li v-for="(voice, index) in navVoices">
                                        <a href="voice.link"
                                            :class="activeNavVoice == index ? 'active' : null">
                                            {{ voice.name == 'Shop by brand' ? 'Shop' : voice.name }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12">
                                <ul class="social-list">
                                    <li v-for="social in socials">
                                        <a href="social.link">
                                            <i class="fab"
                                                :class="'fa-' + social.iconClass">
                                            </i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="credits">
                <p>
                    &copy; Copyright 2012 - 2020 | Avada Theme by ThemeFusion | All Rights Reserved | Powered by WordPress
                </p>
            </div>
        </div>


        <script src="main.js" charset="utf-8"></script>

    </body>
</html>
