<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>

        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>
    <body>
        <div id="root">
            <header>
                <div class="top-header">
                    <div class="logo-box">
                        <img class="logo" src="assets/dark-pet-logo.png" alt="logo pet supplies">
                    </div>

                    <div class="search-box">
                        <i class="fas fa-search"></i>
                        <input type="text" name="" value="" placeholder="Search...">
                    </div>

                    <div class="calling">
                        <strong>Questions?</strong>
                        Call us : 1.800.123.4567
                    </div>

                    <div class="icon-container">
                        <i class="fas fa-shopping-bag"></i>
                        <i class="far fa-user"></i>
                    </div>
                </div>

                <nav class="bottom-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <ul>
                                    <li v-for="(voice, index) in navVoices"
                                        :class="getNavVoiceClasses(index)">
                                        <a href="#">{{ voice.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            <main>
                <section id="jumbo">
                    <div class="top-bar mosaic-bg">
                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    <div class="text-box">
                                        <i class="far fa-map"></i>
                                        <p>
                                            <strong>International</strong>
                                            Shipping Services
                                        </p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="text-box">
                                        <i class="far fa-clock"></i>
                                        <p>
                                            See our
                                            <strong>store hours</strong>
                                            and services
                                        </p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="text-box">
                                        <i class="fas fa-check"></i>
                                        <p>
                                            We price match to give you the
                                            <strong>best deals</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jumbo-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <small>find the best animal supplies</small>
                                    <h4>We know animals are a part of your family, let us helptake care of them.</h4>
                                    <a href="#" class="btn btn-primary">Learn more about us</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="discount-section mosaic-bg" v-if="hasDiscount">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="content-box">
                                        <img src="assets\food-transparent-5.png" alt="cibo per cani">
                                        <p>Get $25 OFF your first purchase of our homemade pet food!</p>
                                        <a href="#">visit the shop</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="e-commerce" class="white-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <h2 class="text-center">Browse by category</h2>
                                <p class="text-center">Augue prus et, tinicidunt condimentum mauris. At nibh rutrum mi in. Nisi, vitae interdum eleifend dui, consequat nulla rhoncus dictum. Viverra</p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="list-container">
                                    <div class="product category" v-for="category in getCategories()">
                                        <img :src="'assets/' + category.image + '.jpg'" :alt="category.name">
                                        <p class="product-name">
                                            {{ category.name }}
                                            <span>({{ category.productsQuantity }})</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>


        <script src="main.js" charset="utf-8"></script>

    </body>
</html>
