* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto condesed", sans-serif;
}

.mosaic-bg {
    background-color: #1e3020;
    background-image:  url('assets/bg-transparent-3.png');
    color: white;
    position: relative;
}

.mosaic-bg.overlay > * {
    position: relative;
    z-index: 2;
}

.mosaic-bg.overlay::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #2a382a 60%, rgba(0,0,0,0) 80%);
}

.white-section {
    padding: 100px 0;
    background-color: white;
    color: #2a382a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: times;
}
.btn {
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 40px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn.btn-secondary {
    color: #fff;
    background-color: #3d6f42;
    border-color: #3d6f42;
}

.btn.btn-secondary:hover {
    background-color: #2a542a;
    border-color: #2a542a;
}

.btn.btn-primary {
    color: black;
    background-color: white;
    border-color: white;
}

.btn.btn-primary:hover {
    color: white;
    background-color: #3d6f42;
    border-color: #3d6f42;
}


.top-header {
    height: 70px;
    padding: 0 90px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dcd5d0;
}

.top-header .logo-box {
    height: 100%;
    padding: 15px 0;
}

.top-header .logo-box .logo {
    height: 40px;
}

.top-header .search-box {
    height: 40px;
    max-width: 350px;
    flex-grow: 1;
    padding: 20px;
    margin-top: 15px;
    border-radius: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header .search-box i {
    width: 20px;

}

.top-header .search-box input {
    flex-grow: 1;
    width: calc(100% - 20px);
    height: 100%;
    padding: 10px;
    border-color: transparent;
    background-color: #f4f4f4;
    outline: none;
    box-shadow: none;
}

.top-header .calling {
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.top-header .icon-container {
    height: 100%;
    display: flex;
    align-items: center;

}

.top-header .icon-container i {
    margin-right: 5px;
    font-size: 18px;
}

.bottom-header {
    height: 60px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.bottom-header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
}

.bottom-header li a {
    color: #dcd5d0;
    display: inline-block;
    height: 60px;
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
    transition: color 0.3s
}

.bottom-header li a:hover {
    color: black;
    text-decoration: none;
}

.bottom-header li.dropdown a::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f107';
    margin-left: 5px;
}

.bottom-header li.active a {
    color: black;
}

#jumbo .top-bar {
    padding: 15px 0;
}

#jumbo .top-bar .text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

#jumbo .top-bar .text-box p {
    color: rgba(255, 255, 255, 0.8);
    margin-left: 5px;
    margin-bottom: 0;
}

#jumbo .top-bar .text-box p strong {
    color: white
}

#jumbo .jumbo-section {
    color: white;
    padding: 130px 0;
    background-image: url('assets/banner-5-2x-scaled.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

#jumbo .jumbo-section::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

#jumbo .jumbo-section small {
    text-transform: uppercase;
    letter-spacing: 1.5;
    display: inline-block;
    font-weight 600;
    margin-bottom: 20px;
}

#jumbo .jumbo-section h4 {
    font-size: 45px;
    margin-bottom: 45px;
}
#jumbo .discount-section .content-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
#jumbo .discount-section img {
    margin-top: 20px;
    width: 200px;
}

#jumbo .discount-section p {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
}

#jumbo .discount-section a {
    color: #dcd5d0;
    text-decoration: underline;
    transition: all 0.3s;
}

#jumbo .discount-section a:hover {
    color: white;
}
