* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto condesed", sans-serif;
}

.mosaic-bg {
    background-color: #1e3020;
    background-image:  url('assets/bg-transparent-3.png');
    color: white;
    position: relative;
}

.mosaic-bg.overlay > * {
    position: relative;
    z-index: 2;
}

.mosaic-bg.overlay::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #2a382a 60%, rgba(0,0,0,0) 80%);
}

.white-section {
    padding: 100px 0;
    background-color: white;
    color: #2a382a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: times;
    font-weight: 600;
}

input:focus,
input:active {
    outline: none;
}

.btn {
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 40px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn.btn-secondary {
    color: #fff;
    background-color: #3d6f42;
    border-color: #3d6f42;
}

.btn.btn-secondary:hover {
    background-color: #2a542a;
    border-color: #2a542a;
}

.btn.btn-primary {
    color: black;
    background-color: white;
    border-color: white;
}

.btn.btn-primary:hover {
    color: white;
    background-color: #3d6f42;
    border-color: #3d6f42;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 30px 0;
}

.list-container .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.list-container .product:last-child {
    margin-right: 0;
}


.list-container .product .image-container {
    position: relative;
    margin-bottom: 15px;
}
.list-container .product img {
    width: 100%;
}

.list-container .product .add-to-cart {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.list-container .product .add-to-cart i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.list-container .product .add-to-cart p {
    font-size: 12px;
}


.list-container .product:hover img {
    filter: sepia(1)
}

.list-container .product:hover .add-to-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-container .product .product-name {
    color: black;
    transition: color 0.3s;
    margin-bottom: 5px;
}

.list-container .product .price {
    color: #59b742;
}

.list-container .product .price .old-price {
    text-decoration: line-through;
    margin-right: 10px;
    color: black;
    opacity: 0.6;
    font-size: 12px;
}

.list-container .product.category:hover .product-name{
    color: #59b742;
}


.top-header {
    height: 70px;
    padding: 0 90px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dcd5d0;
}

.top-header .logo-box {
    height: 100%;
    padding: 15px 0;
}

.top-header .logo-box .logo {
    height: 40px;
}

.top-header .search-box {
    height: 40px;
    max-width: 350px;
    flex-grow: 1;
    padding: 20px;
    margin-top: 15px;
    border-radius: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header .search-box i {
    width: 20px;

}

.top-header .search-box input {
    flex-grow: 1;
    width: calc(100% - 20px);
    height: 100%;
    padding: 10px;
    border-color: transparent;
    background-color: #f4f4f4;
    outline: none;
    box-shadow: none;
}

.top-header .calling {
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.top-header .icon-container {
    height: 100%;
    display: flex;
    align-items: center;

}

.top-header .icon-container i {
    margin-right: 5px;
    font-size: 18px;
}

.bottom-header {
    height: 60px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.bottom-header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
}

.bottom-header li a {
    color: #dcd5d0;
    display: inline-block;
    height: 60px;
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
    transition: color 0.3s
}

.bottom-header li a:hover {
    color: black;
    text-decoration: none;
}

.bottom-header li.dropdown a::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f107';
    margin-left: 5px;
}

.bottom-header li.active a {
    color: black;
}

#jumbo .top-bar {
    padding: 15px 0;
}

#jumbo .top-bar .text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

#jumbo .top-bar .text-box p {
    color: rgba(255, 255, 255, 0.8);
    margin-left: 5px;
    margin-bottom: 0;
}

#jumbo .top-bar .text-box p strong {
    color: white
}

.jumbo-section {
    color: white;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 130px 0;

}

#jumbo .jumbo-section {
    background-image: url('assets/banner-5-2x-scaled.jpg');
}

.jumbo-section::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.jumbo-section > * {
    position: relative;
    z-index: 3;
}
.jumbo-section small {
    text-transform: uppercase;
    letter-spacing: 1.5;
    display: inline-block;
    font-weight 600;
    margin-bottom: 20px;
}

.jumbo-section h4 {
    font-size: 45px;
    margin-bottom: 45px;
}

#jumbo .discount-section .content-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
#jumbo .discount-section img {
    margin-top: 20px;
    width: 200px;
}

#jumbo .discount-section p {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
}

#jumbo .discount-section a {
    color: #dcd5d0;
    text-decoration: underline;
    transition: all 0.3s;
}

#jumbo .discount-section a:hover {
    color: white;
}

#e-commerce .categories-container {
    margin-bottom: 30px
}

#e-commerce .categories-container img {
    margin-bottom: 15px;
}

#e-commerce .categories-container .product:hover img {
    filter: none;
}

#e-commerce h2 {
    font-size: 2.5rem;
}


.card-food {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
    padding: 50px
}

.card-food:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
}

.card-food p {
    color: #59b742;
}
.card-food img {
    width: 80%;
}

.new-arrival-jumbo {
    background-image: url('assets/banner-3-2x-scaled.jpg');
    margin-top: 60px;
    padding: 100px 0;
}

.best-items-intestation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.best-items-intestation p {
    margin-bottom: 5px;
    color: #59b742;
}


#community h3 {
    font-size: 45px;
}

.testimonials {
    padding: 80px 0;
}


.testimonial-card {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-card img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.testimonial-card .name {
    opacity: 0.7;
}

.newsletter-cta {
    padding: 120px 0;
    background-image: url('assets/banner-7-2x-scaled.jpg');
    background-size: cover;
    position: relative;
    bottom: 80px;
    box-shadow: 0 0 1px 2px rgba(0,0,0, 0.02)
}

.newsletter-cta .input-box input {
    height: 100%;
    width: 500px;
    padding: 10px 25px;
    border-radius: 30px;
    border-color: transparent;
    background-color: #f4f4f4;
}

.blog-post-container .section-intestation {
    margin-bottom: 40px
}

.blog-post-container .section-intestation p {
    color: #59b742;
}

.blog-post-card {
    cursor: pointer;
}

.blog-post-card .image-container {
    margin-bottom: 20px;
    position: relative;
}

.blog-post-card img {
    width: 100%;
}

.blog-post-card .image-container .title-hover {
    display: none;
    padding: 30px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
}

.blog-post-card .image-container .title-hover p {
    font-size: 18px;
}


.blog-post-card:hover .image-container .title-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.blog-post-card:hover .image-container img {
    filter: sepia(0.3);
}

.blog-post-card .text-box {
    padding: 0 15px;

}

.blog-post-card .post-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.blog-post-card .date {
    opacity: 0.7;
}

.blog-post-container .btn {
    margin-top: 40px;
}
